.container-header {
  text-align: center;
  margin-top: 30px;
}

.container-header .header-title {
  font-weight: 800;
  font-size: 2.9rem;
}

.content {
  width: 850px;
  margin: auto;
  margin-top: 10px;
}

.content h2 {
  font-weight: 800;
  color: #4d4d4d;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.content .card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
